<div class="container">
  <div class="jumbotron">
    <h1>New York Times</h1>
    <h2>
      <i>Web Scraping Recently Posted New York Times Articles</i>
    </h2>
    <img src="/images/nyt.jpg">
  </div>
  <h1>Click an article to put your 2 cents worth!</h1>

  <div id="articles"></div>
  <div id="notes"></div>


</div>